body{
    background-color: #349ac9
}

h1{
    color: #daf084;
    background-color: #349ac9;
}

#showStech{
    float: right;
}

p{
    padding-top: 10px;
    font-size: 25px;
}

canvas{
    border: 7px double cornsilk;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow: 1px 1px 38px cornsilk;}
    to {box-shadow: 1px 1px 38px #349ac9;}
}